fastapi[all]
SQLAlchemy==2.0.9
alembic==1.10.3
asyncpg==0.27.0
python-jose[cryptography]
passlib[bcrypt]
fastapi-cache2[redis]
celery==5.2.7
flower==1.2.0
pillow==9.5.0
sqladmin==0.10.3
python-json-logger==2.0.7
